In [1]:
import pandas as pd
import xlrd

In [2]:
# Read CH data from excel
ch = pd.read_excel('../data/Cadre Harmonise/cadre_harmonise.xlsx')

In [15]:
# Features I'm interested in:
ch = ch[['adm0_name','adm1_name','adm2_name','population','phase_class','phase35',
        'chtype','exercise_label','exercise_year','reference_label','reference_year']]

# Select adm0_name to work with
ch = ch[ch.adm0_name.isin(['Mali','Burkina Faso','Niger'])]
# Select adm1_name to work with
ch = ch[ch.adm1_name.isin(['Gao','Mopti','Tombouctou','Nord','Sahel','Est','Tahoua','Tillaberi'])]
# Select adm2_name to work with
ch = ch[ch.adm2_name.isin(['Bankass','Koro','Douentza','Djenne','Bandiagara','Tenenkou','Mopti','Youwarou',
                              'Gourma-Rharous','Dire','Niafunke',
                              'Gao','Ansongo','Menaka','Bourem',
                              'Yatenga','Loroum',
                              'Yagha','Seno','Soum','Oudalan',
                              'Komonjdjari',
                              'Tillia', # I take out Tillaberi and Tahoua because of some values are in Tillaberi Department and Tahoua Department
                              'Banibangou','Filingue','Ouallam','Say','Tera','Torodi','Abala','Ayerou'])]#removed: Tassara, Gotheye, Bankilare, Balleyara Because are not in conflict
ch = ch.reset_index(drop=True)

# Look for all different adm2_name
#pd.DataFrame({'ad' :ch.groupby(['adm0_name','adm1_name','adm2_name'])['phase35'].mean()})

                                                         ad
adm0_name    adm1_name  adm2_name
Burkina Faso Est        Gnagna                 23987.000000
                        Gourma                  3420.181818
                        Komonjdjari             6704.636364
                        Kompienga                587.409091
                        Tapoa                   6326.500000
             Nord       Loroum                  4111.863636
                        Passore                18070.818182
                        Yatenga                 8714.363636
                        Zondoma                 3512.500000
             Sahel      Oudalan                34580.090909
                        Seno                   17424.045455
                        Soum                   62932.863636
                        Yagha                   4439.954545
Mali         Gao        Ansongo                15535.409091
                        Bourem                 20273.181818
                        Gao                    29086.818182
                        Menaka                 10549.863636
             Mopti      Bandiagara             30916.818182
                        Bankass                 7060.136364
                        Djenne                 12459.636364
                        Douentza               23391.136364
                        Koro                   26186.590909
                        Mopti                  15963.818182
                        Tenenkou               15878.181818
                        Youwarou                6717.318182
             Tombouctou Dire                    6141.363636
                        Goundam                22613.363636
                        Gourma-Rharous         17390.363636
                        Niafunke               20032.818182
                        Tombouctou             14912.454545
Niger        Tahoua     Abalak                 27089.181818
                        Bagaroua                3617.272727
                        Birni N'Konni           5088.500000
                        Bouza                  16104.045455
                        Illela                 15393.045455
                        Keita                  22506.681818
                        Madaoua                11344.181818
                        Malbaza                 4712.181818
                        Tahoua                 32312.071429
                        Tahoua Departement     30143.000000
                        Tassara                 1486.818182
                        Tchintabaraden          9018.227273
                        Tillia                  3085.818182
                        Ville De Tahoua         2767.000000
             Tillaberi  Abala                  17671.045455
                        Ayerou                  6274.227273
                        Balleyara               1850.761905
                        Banibangou             13790.772727
                        Bankilare               5582.136364
                        Filingue               13908.909091
                        Gotheye                 3380.000000
                        Kollo                   4702.045455
                        Ouallam                56898.454545
                        Say                     1523.681818
                        Tera                   12220.000000
                        Tillaberi               9375.944444
                        Tillaberi Commune       1073.750000
                        Tillaberi Departement   5812.500000
                        Torodi                 12106.909091

In [22]:
ch[ch.adm2_name.isin(['Balleyara','Bankilare','Gotheye'])]

,adm0_name,adm1_name,adm2_name,population,phase_class,phase35,chtype,exercise_label,exercise_year,reference_label,reference_year
662,Niger,Tillaberi,Balleyara,116309,1.0,0.0,current,Jan-May,2014,Jan-May,2014
664,Niger,Tillaberi,Bankilare,90740,2.0,0.0,current,Jan-May,2014,Jan-May,2014
666,Niger,Tillaberi,Gotheye,259095,2.0,0.0,current,Jan-May,2014,Jan-May,2014
687,Niger,Tillaberi,Balleyara,116309,1.0,5815.0,projected,Jan-May,2014,Jun-Aug,2014
689,Niger,Tillaberi,Bankilare,90740,2.0,9074.0,projected,Jan-May,2014,Jun-Aug,2014
691,Niger,Tillaberi,Gotheye,259095,2.0,0.0,projected,Jan-May,2014,Jun-Aug,2014
728,Niger,Tillaberi,Bankilare,93268,1.0,0.0,current,Jan-May,2015,Jan-May,2015
729,Niger,Tillaberi,Gotheye,264818,1.0,0.0,current,Jan-May,2015,Jan-May,2015
733,Niger,Tillaberi,Balleyara,117705,1.0,0.0,current,Jan-May,2015,Jan-May,2015
753,Niger,Tillaberi,Bankilare,93268,2.0,3731.0,projected,Jan-May,2015,Jun-Aug,2015
754,Niger,Tillaberi,Gotheye,264818,2.0,7945.0,projected,Jan-May,2015,Jun-Aug,2015
758,Niger,Tillaberi,Balleyara,117705,1.0,0.0,projected,Jan-May,2015,Jun-Aug,2015
775,Niger,Tillaberi,Bankilare,97829,1.0,978.0,current,Jan-May,2016,Jan-May,2016
777,Niger,Tillaberi,Gotheye,277774,1.0,0.0,current,Jan-May,2016,Jan-May,2016
781,Niger,Tillaberi,Balleyara,123459,2.0,1235.0,current,Jan-May,2016,Jan-May,2016
800,Niger,Tillaberi,Bankilare,97829,1.0,8805.0,projected,Jan-May,2016,Jun-Aug,2016
802,Niger,Tillaberi,Gotheye,277774,1.0,8333.0,projected,Jan-May,2016,Jun-Aug,2016
806,Niger,Tillaberi,Balleyara,123459,2.0,2469.0,projected,Jan-May,2016,Jun-Aug,2016
824,Niger,Tillaberi,Gotheye,288595,1.0,5772.0,current,Jan-May,2017,Jan-May,2017
825,Niger,Tillaberi,Bankilare,101640,2.0,2033.0,current,Jan-May,2017,Jan-May,2017
832,Niger,Tillaberi,Balleyara,128269,2.0,1283.0,current,Jan-May,2017,Jan-May,2017
849,Niger,Tillaberi,Gotheye,288595,1.0,8658.0,projected,Jan-May,2017,Jun-Aug,2017
850,Niger,Tillaberi,Bankilare,101640,2.0,4066.0,projected,Jan-May,2017,Jun-Aug,2017
857,Niger,Tillaberi,Balleyara,128269,2.0,3848.0,projected,Jan-May,2017,Jun-Aug,2017
876,Niger,Tillaberi,Bankilare,105649,3.0,23243.0,current,Jan-May,2018,Jan-May,2018
877,Niger,Tillaberi,Gotheye,299977,1.0,0.0,current,Jan-May,2018,Jan-May,2018
884,Niger,Tillaberi,Balleyara,133328,2.0,2667.0,current,Jan-May,2018,Jan-May,2018
903,Niger,Tillaberi,Bankilare,105649,3.0,24299.0,projected,Jan-May,2018,Jun-Aug,2018
904,Niger,Tillaberi,Gotheye,299977,1.0,0.0,projected,Jan-May,2018,Jun-Aug,2018
911,Niger,Tillaberi,Balleyara,133328,2.0,1333.0,projected,Jan-May,2018,Jun-Aug,2018
...,...,...,...,...,...,...,...,...,...,...,...
982,Niger,Tillaberi,Bankilare,91644,1.0,916.0,current,Sep-Dec,2014,Sep-Dec,2014
983,Niger,Tillaberi,Gotheye,260211,1.0,0.0,current,Sep-Dec,2014,Sep-Dec,2014
987,Niger,Tillaberi,Balleyara,112997,1.0,0.0,current,Sep-Dec,2014,Sep-Dec,2014
1007,Niger,Tillaberi,Bankilare,91644,2.0,2749.0,projected,Sep-Dec,2014,Jan-May,2015
1008,Niger,Tillaberi,Gotheye,260211,1.0,0.0,projected,Sep-Dec,2014,Jan-May,2015
1012,Niger,Tillaberi,Balleyara,112997,1.0,0.0,projected,Sep-Dec,2014,Jan-May,2015
1020,Niger,Tillaberi,Bankilare,97829,1.0,978.0,current,Sep-Dec,2015,Sep-Dec,2015
1021,Niger,Tillaberi,Gotheye,277774,1.0,0.0,current,Sep-Dec,2015,Sep-Dec,2015
1025,Niger,Tillaberi,Balleyara,123459,1.0,0.0,current,Sep-Dec,2015,Sep-Dec,2015
1045,Niger,Tillaberi,Bankilare,97829,2.0,2935.0,projected,Sep-Dec,2015,Jun-Aug,2016
1046,Niger,Tillaberi,Gotheye,277774,1.0,0.0,projected,Sep-Dec,2015,Jun-Aug,2016
1050,Niger,Tillaberi,Balleyara,123459,1.0,NaN,projected,Sep-Dec,2015,Jun-Aug,2016
1070,Niger,Tillaberi,Balleyara,128269,1.0,1283.0,current,Sep-Dec,2016,Sep-Dec,2016
1075,Niger,Tillaberi,Bankilare,101640,2.0,3049.0,current,Sep-Dec,2016,Sep-Dec,2016
1076,Niger,Tillaberi,Gotheye,288595,1.0,0.0,current,Sep-Dec,2016,Sep-Dec,2016
1095,Niger,Tillaberi,Balleyara,128269,1.0,2565.0,projected,Sep-Dec,2016,Jun-Aug,2017
1100,Niger,Tillaberi,Bankilare,101640,2.0,3049.0,projected,Sep-Dec,2016,Jun-Aug,2017
1101,Niger,Tillaberi,Gotheye,288595,1.0,0.0,projected,Sep-Dec,2016,Jun-Aug,2017
1130,Niger,Tillaberi,Bankilare,105649,1.0,0.0,current,Sep-Dec,2017,Sep-Dec,2017
1131,Niger,Tillaberi,Gotheye,299977,1.0,0.0,current,Sep-Dec,2017,Sep-Dec,2017
1138,Niger,Tillaberi,Balleyara,133328,1.0,2667.0,current,Sep-Dec,2017,Sep-Dec,2017
1157,Niger,Tillaberi,Bankilare,105649,2.0,1056.0,projected,Sep-Dec,2017,Jun-Aug,2018
1158,Niger,Tillaberi,Gotheye,299977,1.0,0.0,projected,Sep-Dec,2017,Jun-Aug,2018
1165,Niger,Tillaberi,Balleyara,133328,1.0,4000.0,projected,Sep-Dec,2017,Jun-Aug,2018
1181,Niger,Tillaberi,Bankilare,109810,1.0,6589.0,current,Sep-Dec,2018,Sep-Dec,2018
1182,Niger,Tillaberi,Gotheye,311790,2.0,6236.0,current,Sep-Dec,2018,Sep-Dec,2018
1188,Niger,Tillaberi,Balleyara,138578,2.0,1386.0,current,Sep-Dec,2018,Sep-Dec,2018
1206,Niger,Tillaberi,Bankilare,109810,2.0,10981.0,projected,Sep-Dec,2018,Jun-Aug,2019
1207,Niger,Tillaberi,Gotheye,311790,2.0,12472.0,projected,Sep-Dec,2018,Jun-Aug,2019
1213,Niger,Tillaberi,Balleyara,138578,2.0,4157.0,projected,Sep-Dec,2018,Jun-Aug,2019

In [ ]:
"""
# Features I'm interested in:
ch = ch[['adm0_name','adm1_name','adm2_name','population','phase_class','phase35',
        'chtype','exercise_label','exercise_year','reference_label','reference_year']]

# Replace names to make consistent data: Tahoua, Tillaberi. THIS IS NOT WORKING, I take out Tillaberi and Tahoua to postpone the problem
#ch['adm2_name'].replace('Tahoua Department','Tahoua',inplace=True)
#ch['adm2_name'].replace('Tillaberi Department','Tillaberi',inplace=True)

# Select adm0_name to work with
ch = ch[ch.adm0_name.isin(['Mali','Burkina Faso','Niger'])]

# Select adm1_name to work with
ch = ch[ch.adm1_name.isin(['Gao','Mopti','Tombouctou','Nord','Sahel','Est','Tahoua','Tillaberi'])]

# Select adm2_name to work with
ch = ch[ch.adm2_name.isin(['Bankass','Koro','Douentza','Djenne','Bandiagara','Tenenkou','Mopti','Youwarou',
                              'Gourma-Rharous','Dire','Niafunke',
                              'Gao','Ansongo','Menaka','Bourem',
                              'Yatenga','Loroum',
                              'Yagha','Seno','Soum','Oudalan',
                              'Komonjdjari',
                              'Tillia', # I take out Tillaberi and Tahoua because of some values are in Tillaberi Department and Tahoua Department
                              'Banibangou','Filingue','Ouallam','Say','Tera','Torodi','Abala','Ayerou'])]#removed: Tassara, Gotheye, Bankilare, Balleyara Because are not in conflict

# Sorting ch by ['adm0_name','reference_year','chtype','reference_label','exercise_label','adm1_name','adm2_name']
ch = ch.sort_values(by=['adm0_name','reference_year','chtype','reference_label','exercise_label','adm1_name','adm2_name'])
ch = ch.reset_index(drop=True)
"""

In [ ]:
"""
# We want to work just with the Lean Season data
# We need just the spring estimation: Select exercise_label=='Jan-May'
lean = ch[ch.exercise_label == 'Jan-May']
# Select reference_label='Jun-Aug'
lean = lean[lean.reference_label == 'Jun-Aug']
# Select chtype=='projected'
lean = lean[lean.chtype == 'projected']
lean = lean.reset_index(drop=True)
# Select featueres
lean = lean[['adm0_name','adm1_name','adm2_name','population','phase_class','phase35','reference_year']]

# Let's plot things out
# phase35 density between the population in Lean Season: (phase35%, reference_year)
lean['p35_density'] = lean['phase35'].div(lean['population'])
#lean_graph = lean[lean.adm2_name=='Gao'].plot(x='reference_year',y='p35_density',figsize=(12,8))
"""